 <div class="container-fluid">
 <div>
       <img src="/SAM_3699.JPG" class="img-responsive" alt="Dominic">
       
<div class="hero-image">
  <div class="hero-text">
    <!--<h1>Saint Dominic School Kagugu</h1>-->
    <!--<h4><strong>"Conscious, Solidarity and Excellence" is our MOTTO </strong></h4>-->
    <!--<h6><strong>You are Most Welcome!</strong></h6>-->
    <h1>InstagramClone Application</h1>
    
    <h1>Log in</h1>
  <%= form_with(scope: :session, url: sessions_path) do |f| %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.label :email , class: 'label'%>
    <%= f.email_field :email , class: 'type'%>
     <br>
    <%= f.label :password , class: 'label'%>
    <%= f.password_field :password , class: 'type'%>
      <br>
    <%= f.submit "Login", class: 'button' %>

 <% end %>
<br>
<h3>If you don't have account, <%= link_to "Sign up", new_user_path, class:'sign' %> here!</h5>

    <!--<div class="row">-->
    <!--    <button type="button" class="btn btn-outline-primary">WELCOME MESSAGE</button>-->
    <!--    <button type="button" class="btn btn-outline-primary"><%= link_to 'HOME', controller: 'welcome' %></button>-->
    <!--    <button type="button" class="btn btn-outline-primary"><%= link_to 'READ ARTICLES', controller: 'articles' %></button>-->
    <!--    <button type="button" class="btn btn-outline-primary"><%= link_to 'NEW ARTICLE', new_article_path %></button>-->
    <!--</div>-->
    <!--<h5>You can create, read and add comments on this website!</h5>-->
  </div>
</div>
</div>
</div>