<h1>Log in</h1>
  <%= form_with(scope: :session, url: sessions_path) do |f| %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.label :email , class: 'label'%>
    <%= f.email_field :email , class: 'type'%>
     <br>
    <%= f.label :password , class: 'label'%>
    <%= f.password_field :password , class: 'type'%>
      <br>
    <%= f.submit "Login", class: 'button' %>

 <% end %>
<br>
<h5>If you don't have account, <%= link_to "Sign up", new_user_path %> here!</h5>


