<center><%= form_with (model: @article, local: true, if action_name == 'new' url: choose_new_or_edit else blog_path end) do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render 'shared/errors', object: article %>
  
  <h2><%= link_to article.title, article_path(article) %></h2>
 
<p><%= truncate(article.text, length: 150) %></p>
 
<p><%= link_to 'Edit', edit_article_path(article) %></p>
<hr>
  
   <div class="field">
    <%= form.label :image %>
   <%= form.file_field :image, id: :feed_image %>
    <%= form.hidden_field :image_cache %>
  </div>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
</center>