<!--<p><%= notice %></p>-->
<center class="display-page">

 <div id="services" class="container-fluid text-center" style="margin-top:30px">
  <div class="row slideanim">
  <% @articles.each do |article| %>
    <div class="col-sm-12 ">
    <ur>
      <li><%= image_tag(article.image_url, :class => "imgsize") %></li>
      <li><%= article.title %></li>
      <li><%= article.text %></li>
    </ur>
     <button type="button" class="btn btn-outline-primary"><%= link_to 'Show', article_path(article) %></button>
      <% if logged_in? %>
      <% if current_user.id == article.user_id %>
      <button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_article_path(article) %></button>
      <button type="button" class="btn btn-outline-primary"><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure, you want to delete this?' } %></button>
              <% end %>
       <% end %>
      <% end %>
    </div>
   </div>
 </div>
</center>