<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
 
<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add comment:</h2>
<%= render 'comments/form' %>

<% unless @article.user == current_user %>
  <% if @favorite.present? %>
    <%= link_to 'Unlike',favorite_path(article_id: @article.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Like',favorites_path(article_id: @article.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<button type="button" class="btn btn-outline-primary"><%= link_to 'Edit', edit_article_path(@article) %></button>

<button type="button" class="btn btn-outline-primary"><%= link_to 'Back', articles_path %></button>

<button type="button" class="btn btn-outline-primary"><%= link_to 'Home Page', controller: 'welcome' %></button>