<h1>Edit Profile</h1>
 
<%= form_with(model: @user, local: true) do |form| %>
 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
   <div>
    <%= f.label :image, class: 'image' %>
    <%= f.file_field :image, class: 'image' %>
  </div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.label :name, class: 'label' %>
  <%= f.text_field :name, class: 'type' %>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.label :email, class: 'label' %>
  <%= f.email_field :email, class: 'type' %>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.label :password, class: 'label' %>
  <%= f.password_field :password, class: 'type' %>
<br>

  <%= f.label :password_confirmation, class: 'label' %>
  <%= f.password_field :password_confirmation, class: 'type' %>
<br>
  <%= f.submit "Edit Account", class: 'button' %>
<% end %>
<br>
 
<% end %>

<button type="button" class="btn btn-outline-primary"><%= link_to 'Back', user_path(current_user.id) %></button>