
<br><h1>Welcome, <%= current_user.name %></h1>
<h3>This is &nbsp;<%= current_user.name %>'s page</h3>

<p>email address: <%= current_user.email %></p>

<center><h1>Favorite's List</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <tr>
    <% @favorites_articles.each do |article| %>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
  </tr>
  <% end %>
</table>

<table>
  <% @user ||= current_user %>
    <div class="stats">
      <th><a href="<%= user_path(@user.id) %>">
        <strong id="followers" class="stat">
          <%= @user.favorites.count %>
        </strong>
        followers
      </a>
      </th>
    </div>
</table>
</center>

